<%= render 'layouts/navbar' %>

<h2 style="text-align: center;">话题#<%= @topic.name %> 的内容</h2>
<button onclick="location.href='<%= topic_broadcast_fake_post_path(@topic.name) %>'">
  模拟广播一条新帖子
</button>

<div style="display: flex; flex-direction: column; align-items: center;">
  <% if @paginated_posts.present? %>
    <% @paginated_posts.each do |post| %>
        <div class="post-container">
          <div class="post-header">
            <span class="post-username">user: <%= post.username %></span>
            <span class="post-time"><%= post.timestamp.in_time_zone('Beijing').strftime('%Y-%m-%d %H:%M:%S') %>
</span>
          </div>

          <div class="post-caption">
            <p><%= post.caption %></p>
          </div>

          <% if post.image_url.present? %>
            <div class="post-image">
              <%= image_tag("/proxy/image?url=#{CGI.escape(post.image_url)}", alt: "post image") %>
            </div>
          <% end %>
        </div>

    <% end %>
  <% else %>
    <p>暂无内容，请检查话题或稍后再试。</p>
    <%= render 'layouts/search' %>
  <% end %>
</div>

<div style="display: flex; justify-content: center; gap: 20px; margin: 20px 0;">
  <% if @page > 1 %>
    <%= link_to '上一页', topic_path(id: @topic.name, page: @page - 1) %>
  <% end %>
  <% if @topic.posts.size > @page * @per_page %>
    <%= link_to '下一页', topic_path(id: @topic.name, page: @page + 1) %>
  <% end %>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    subscribeToTopic("<%= @topic.name %>");
  });
</script>
